.pl {
    /* padding: 50px 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.pl-texts {
    width: 75%;
}

.pl-title {
    padding-top: 60px;
    font-size: 50px;
    font-weight: 600;
    height: 5vh;
    padding-bottom: 20px;
}

.pl-desc {
    margin: 40px 0px;
    height: 5vh;
}

.pl-list {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.pl-github-link {
    color: lightsteelblue;
    text-decoration: none;
    cursor: pointer;
}


@media screen and (max-width: 480px) {
    .pl {
        padding: 10px 10px;
        min-height: 120vh;  
    }

    .pl-texts {
        width: 100%;
    }

    .pl-desc {
        display: none;
    }

    .pl-title {
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }

}
