.pl {
    /* padding: 50px 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.pl-texts {
    width: 75%;
}

.pl-title {
    font-size: 50px;
    font-weight: 600;
    /* margin-top: 30px; */
    height: 5vh;
}

.pl-desc {
    margin: 40px 0px;
    height: 5vh;
}

.pl-list {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pl-github-link {
    color: lightsteelblue;
    text-decoration: none;
    cursor: pointer;
}


@media screen and (max-width: 480px) {
    .pl {
        padding: 10px 10px;
        height: 120vh;  
    }

    .pl-texts {
        width: 100%;
    }

    .pl-desc {
        display: none;
    }

    .pl-title {
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
