.topbar {
    height: 75px;
    position: absolute;
    z-index: 50;
    position: relative;
}

.menuIcon {
    display: none;
}

.topList {
    padding: 0;
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    backdrop-filter: blur(50px);
}

.topListItem {
    padding: 0 10px;
    font-size: 20px;
    list-style: none;
}

.topListItem:hover {
    color: lightsteelblue;
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
}

@media screen and (max-width: 920px) {
    .topbar {
        position: relative;
        background-color: lightsteelblue;
    }

    ul.topList {
        backdrop-filter: none;
        width: 100vw;
        height: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 70px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 10000;
        background-color: lightsteelblue;
    }

    ul.topList.active {
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 10000;
    }

    .topListItem {
        font-size: 25px;
        padding-bottom: 10px;
    }

    .topListItem:hover {
        color: inherit;
        transition: 0.5s ease-in-out;
        transform: scale(1.1);
    }

    .menuIcon {
        display: block;
        position: absolute;
        z-index: 1001;
        top: 10px;
        left: 20px;
        position: absolute;
        transform: translate(-100%, 10%);
        font-size: 1.5rem;
        cursor: pointer;
        margin-left: 20px;
    }
}