.s {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.s-title {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
}

.s-container {
    display: flex;
}

.s-left, .s-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.s-left-title, .s-right-title {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

.s-left-container, .s-right-container {
    height: 70vh;
    background-color: lightsteelblue;
    border-radius: 25px;
    margin: 20px;
}

.s-left-container {
    position: relative;
}

.s-right-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.s-right-skill {
    width: 40%;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.s-right-skill:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.s-right-skill-text {
    color: lightsteelblue;
    padding: 5px;
}

/* @media screen and (max-width: 900px) {
    .s-container {
        display: flex;
        flex-direction: column;
    }

    .s-right-skill {
        width: 20vw;
        height: 9vw;
        margin: 10px;
    }
} */

@media screen and (max-width: 650px) {
    .s {
        min-height: 100vh;
    }

    .s-title {
        font-size: 30px;
        height: 10vh;
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .s-left-title, .s-right-title {
        font-size: 20px;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .s-container {
        display: flex;
        flex-direction: column;
    }

    .s-left-container, .s-right-container {
        height: 60vh;
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }

    .s-right-skill-text {
        font-size: 10px;
    }
}
